.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 200px;
    padding: 10px;
    background-color: #1c1c1c;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
}

.sidebar a {
    display: block;
    color: #f2f2f2;
    margin-bottom: 10px;
}

.sidebar a.selected {
    font-weight: bold;
}

.content {
    margin-left: 200px;
    flex-grow: 1;
    padding: 10px;
}